# Dependencias del notebook tfg_notebook.ipynb

chromadb==1.5.8
matplotlib==3.10.8
mrmr-selection==0.2.8
numpy==2.2.6
pandas==2.3.3
requests==2.33.1
scikit-learn==1.7.2
seaborn==0.13.2
torch==2.10.0
transformers==5.2.0
ucimlrepo==0.0.7
xgboost==3.1.3